<%= error_messages_for :field, :fieldable %>
<% form_for @form_action do |form| %>

<table cellpadding="0" cellspacing="0" class="edit">
  <thead>
    <tr>
      <td class="label"><%= form.label :active %></td>
      <td class="value"><%= form.check_box :active %></td>
    </tr>
    <tr>
      <td class="label"><%= form.label :required %></td>
      <td class="value"><%= form.check_box :required %></td>
    </tr>
    <tr>
      <td class="label"><%= form.label :check_duplication %></td>
      <td class="value"><%= form.check_box :check_duplication %></td>
    </tr>
<% if form.object.dynamic_form.use_multistep? -%>
    <tr>
      <td class="label"><%= form.label :step %></td>
      <td class="value"><%= form.select(:step, (1..form.object.last_step_but_not_me+1)) %></td>
    </tr>
<% end -%>
    <tr>
      <td class="label"><%= form.label :column_name %></td>
      <td class="value"><%= form.text_field :column_name %></td>
    </tr>
<% if form.object.new_record? -%>
    <tr>
      <td class="label"><%= form.label :column_type %></td>
      <td class="value"><%= form.select(:column_type, DynamicField::COLUMN_TYPES.map {|t| [t, t]}, :prompt => true) %></td>
    </tr>
<% end -%>
    <tr>
      <td class="label"><%= form.label :label %></td>
      <td class="value"><%= form.text_field :label %></td>
    </tr>
    <tr>
      <td class="label"><%= form.label :required_error %></td>
      <td class="value"><%= form.text_field :required_error %></td>
    </tr>
    <tr>
      <td class="label"><%= form.label :fieldable_type, 'Type' %></td>
      <td class="value"><%= form.object.new_record? ? form.select(:fieldable_type, DynamicField::FIELDABLE_TYPES.map {|t| [t.sub('Dynamic','').titleize, t]}, {:selected => form.object.fieldable_type, :prompt => true}, {
        :onchange => remote_function(:url => change_type_admin_site_dynamic_form_dynamic_fields_path(@site, form.object.dynamic_form), :method => :put, :update => 'fieldable_details', :with => "'t=' + this.value")
      }) : form.object.field_type %></td>
    </tr>
  </thead>
  <tbody id="fieldable_details">
<%= render "form_#{form.object.field_type}" unless form.object.field_type.blank? %>
  </tbody>
  <tfoot>
    <tr>
      <td colspan="2" class="submit"><%= submit_tag %></td>
    </tr>
  </tfoot>
</table>

<% end %>
