<tr>
  <td class="label"><%= label :fieldable, :default_checked %></td>
  <td class="value"><%= check_box 'fieldable', 'default_checked', :checked => @field && @field.fieldable.default_checked? %></td>
</tr>
<tr>
  <td class="label"><%= label :fieldable, :input_label %></td>
  <td class="value"><%= text_field_tag 'fieldable[input_label]', @field.nil? ? nil : @field.fieldable.input_label %></td>
</tr>
<tr>
  <td class="label"><%= label :fieldable, :input_value %></td>
  <td class="value"><%= text_field_tag 'fieldable[input_value]', @field.nil? ? nil : @field.fieldable.input_value %></td>
</tr>
