<tr>
  <td class="label">Default Item</td>
  <td class="value"><%= "#{@field.fieldable.default_item.item_display} (#{@field.fieldable.default_item.item_value})" if @field.fieldable.default_item %></td>
</tr>
<tr>
  <td class="label">Combine Option Groups</td>
  <td class="value"><%= @field.fieldable.combine_option_groups? ? 'Yes' : 'No' %></td>
</tr>
<tr>
  <td class="label">Allow Blank</td>
  <td class="value"><%= @field.fieldable.allow_blank? ? 'Yes' : 'No' %></td>
</tr>
<tr>
  <td class="label">Prompt</td>
  <td class="value"><%= @field.fieldable.prompt %></td>
</tr>
<tr>
  <td class="label">Missing Value Error</td>
  <td class="value"><%= @field.fieldable.missing_value_error %></td>
</tr>
