<%
content_for :breadcrumbs, breadcrumbs_builder(
  [
    link_to('Sites', admin_sites_path),
    link_to(@site.name, admin_site_path(@site)),
    link_to('Forms', admin_site_dynamic_forms_path(@site)),
    @dynamic_form.name
  ]
)
content_for :heading, "Form: #{@dynamic_form.name}"
content_for :actions, actions_builder([
  link_to('Edit', edit_admin_site_dynamic_form_url(@site, @dynamic_form)),
  link_to('Destroy', admin_site_dynamic_form_url(@site, @dynamic_form), :method => :delete, :confirm => 'Are you sure you want to destroy this form?')
])
%>

<table cellpadding="0" cellspacing="0" class="show">
  <tr>
    <td class="label">Active</td>
    <td class="value"><%= @dynamic_form.active? ? 'Yes' : 'No' %></td>
  </tr>
  <tr>
    <td class="label">Name</td>
    <td class="value"><%= @dynamic_form.name %></td>
  </tr>
  <tr>
    <td class="label">Duplication Timeframe</td>
    <td class="value"><%= @dynamic_form.duplication_days %> days</td>
  </tr>
  <tr id="detail_created_at" style="display:none;">
    <td class="label">Created</td>
    <td class="value"><%= @dynamic_form.created_at %></td>
  </tr>
  <tr id="detail_updated_at" style="display:none;">
    <td class="label">Last Updated</td>
    <td class="value"><%= @dynamic_form.updated_at %></td>
  </tr>
</table>
<%= link_to_function("more...", nil, :id => "more_link") do |page|
  page.show('detail_created_at','detail_updated_at')
  page['more_link'].hide
end %>
