<%= render_partial_if_exists "#{params[:action]}_content_for" %>

<table cellpadding="0" cellspacing="0" class="show">
  <tr>
    <td class="label">Active</td>
    <td class="value"><%= @dynamic_form.active? ? 'Yes' : 'No' %></td>
  </tr>
  <tr>
    <td class="label">Name</td>
    <td class="value"><%= @dynamic_form.name %></td>
  </tr>
  <tr>
    <td class="label">Duplication Timeframe</td>
    <td class="value"><%= @dynamic_form.duplication_days %> days</td>
  </tr>
  <tr id="detail_created_at" style="display:none;">
    <td class="label">Created</td>
    <td class="value"><%= @dynamic_form.created_at %></td>
  </tr>
  <tr id="detail_updated_at" style="display:none;">
    <td class="label">Last Updated</td>
    <td class="value"><%= @dynamic_form.updated_at %></td>
  </tr>
</table>
<%= link_to_function("more...", nil, :id => "more_link") do |page|
  page.show('detail_created_at','detail_updated_at')
  page['more_link'].hide
end %>
