<%= error_messages_for :field_check %>
<% form_for @redirect_to_field_check do |form| %>

<table cellpadding="0" cellspacing="0" class="edit">
  <tr>
    <td class="label"><%= form.label :check_for, 'For' %></td>
    <td class="value"><%= form.select(:check_for, DynamicFieldCheck::CHECK_FORS.map {|t| [t.titleize, t]}, :prompt => true) %></td>
  </tr>
  <tr>
    <td class="label"><%= form.label :check_type, 'Type' %></td>
    <td class="value"><%= form.select(:check_type, DynamicFieldCheck::CHECK_TYPES.map {|t| [t, t]}, :prompt => true) %></td>
  </tr>
  <tr>
    <td class="label"><%= form.label :check_value, 'Value' %></td>
    <td class="value"><%= form.text_field :check_value %></td>
  </tr>
  <tr>
    <td class="label"><%= form.label :custom_message %></td>
    <td class="value"><%= form.text_field :custom_message %></td>
  </tr>
  <tr>
    <td class="label"><%= form.label :case_sensitive %></td>
    <td class="value"><%= form.check_box :case_sensitive %></td>
  </tr>
  <tr>
    <td class="label"><%= form.label :format_match %></td>
    <td class="value"><%= form.text_field :format_match %></td>
  </tr>
  <tr>
    <td class="label"><%= form.label :format_replace %></td>
    <td class="value"><%= form.text_field :format_replace %></td>
  </tr>
  <tr>
    <td colspan="2" class="submit"><%= submit_tag %></td>
  </tr>
</table>

<% end %>
