<%= render_partial_if_exists "show_content_for" %>

<table cellpadding="0" cellspacing="0" class="show">
  <tr>
    <td class="label">For</td>
    <td class="value"><%= @field_check.check_for %></td>
  </tr>
  <tr>
    <td class="label">Type</td>
    <td class="value"><%= @field_check.check_type %></td>
  </tr>
  <tr>
    <td class="label">Value</td>
    <td class="value"><%= @field_check.check_value %></td>
  </tr>
  <tr>
    <td class="label">Custom Message</td>
    <td class="value"><%= @field_check.custom_message %></td>
  </tr>
  <tr>
    <td class="label">Case Sensitive</td>
    <td class="value"><%= @field.case_sensitive? ? 'Yes' : 'No' %></td>
  </tr>
  <tr>
    <td class="label">Format Match</td>
    <td class="value"><%= @field_check.format_match %></td>
  </tr>
  <tr>
    <td class="label">Format Replace</td>
    <td class="value"><%= @field_check.format_replace %></td>
  </tr>
  <tr id="detail_created_at" style="display:none;">
    <td class="label">Created</td>
    <td class="value"><%= @field_check.created_at %></td>
  </tr>
  <tr id="detail_updated_at" style="display:none;">
    <td class="label">Last Updated</td>
    <td class="value"><%= @field_check.updated_at %></td>
  </tr>
</table>
<%= link_to_function("more...", nil, :id => "more_link") do |page|
  page.show('detail_created_at','detail_updated_at')
  page['more_link'].hide
end %>
